.idea/
__pycache__/
.pytest_cache/
.ruff_cache/
tests/__pycache__/
services/__pycache__/
services/auth/__pycache__/
services/auth/helpers/__pycache__/
services/auth/models/__pycache__/
services/general/__pycache__/
services/general/helpers/__pycache__/
services/general/models/__pycache__/
services/university/__pycache__/
services/university/helpers/__pycache__/
services/university/models/__pycache__/
utils/__pycache__/
.env




